<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Start Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item><ion-icon name="settings"></ion-icon> Config</ion-item>
  </ion-list>
</ion-content>