<ion-header>
  <ion-toolbar>
    <ion-title>Añade Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal($event)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
      <ion-input id="product2Add" placeholder="Escribe el producto" [(ngModel)]="productName" clear-input="true"></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
  <ion-list id="newProductList">
    <ion-item *ngFor="let item of listProduct; let i = index" (click)="clickElement(i)" [type]="item">
      <ion-label>{{ item.name }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
    <ion-button id="anadir" expand="block" (click)="addProduct()">Añadir</ion-button>
</ion-footer>
