<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="EnCasa">
      <ion-icon name="home"></ion-icon>
      <ion-label>En Casa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="SubirDespensa">
      <ion-icon name="arrow-round-up"></ion-icon>
      <ion-label>Subir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="EnDespensa">
      <ion-icon name="cube"></ion-icon>
      <ion-label>En Despensa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Comprar">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Comprar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

