
<ion-list id="elementsList">
      <ion-item-sliding *ngFor="let item of list2Control; let i = index">
        <ion-item-options side="start">
            <ion-item-option color="light" *ngIf="showToHome == true" (click)="toHome(i)"><ion-icon name="home"></ion-icon></ion-item-option>
            <ion-item-option color="light" *ngIf="showToUp == true" (click)="toUp(i)"><ion-icon name="arrow-round-up"></ion-icon></ion-item-option>
            <ion-item-option color="light" *ngIf="showToProvisions == true" (click)="toProvisions(i)"><ion-icon name="cube"></ion-icon></ion-item-option>
            <ion-item-option color="light" *ngIf="showToBuyProduct == true" (click)="toBuy(i)"><ion-icon name="cart"></ion-icon></ion-item-option>
        </ion-item-options>
        <ion-item  (click)="clickElement(i)" [type]="item">
            <ion-label>{{ item.name }}</ion-label>
            <ion-badge [color]="(item.count == 1)? 'warning' : 'none'" slot="end">{{ item.count }}</ion-badge>
          </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteItem(i)" ><ion-icon name="trash"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    
  </ion-list>