<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button id="menu" size="small">
    
      <ion-icon name="menu" *ngIf="!actionTitle"></ion-icon>
      <ion-label>{{actionTitle}}</ion-label>
    
  </ion-fab-button>
  <ion-fab-list side="top">
      <ion-fab-button id="hand" size="small" (click)="changeAction(staticNoAction())"><ion-icon name="hand"></ion-icon></ion-fab-button>
      <ion-fab-button id="addOne" size="small" (click)="changeAction(staticActionAdd1())">{{actionsTitle[staticActionAdd1()]}}</ion-fab-button>
      <ion-fab-button id="minusOne" size="small" (click)="changeAction(staticActionMinus1())">{{actionsTitle[staticActionMinus1()]}}</ion-fab-button>
      <ion-fab-button id="addProduct" size="small" (click)="onAddBtnClicked()"><ion-icon name="add"></ion-icon></ion-fab-button>
      <ion-fab-button id="copy" size="small" (click)="onCopyList2Clipboard()"><ion-icon name="copy"></ion-icon></ion-fab-button>
    </ion-fab-list>
</ion-fab>
