<ion-menu side="start" menuId="sideMenuEnDespensa"> 
  <app-menu-lateral></app-menu-lateral>
</ion-menu>
<div class="ion-page" main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="configMenu" autoHide="false" (click)="tougleSideMenu('sideMenuEnDespensa')"><ion-icon name="menu"></ion-icon></ion-menu-button>
      </ion-buttons>
      <ion-title><ion-icon name="cube"></ion-icon> Despensa</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar id="productsSearch"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <app-products [list2Control]="this.list2Control" listTitle="Que tengo" showToProvisions="false" (actionElementEvent)="actionElement($event)" (actionDeleteItem)="deleteItem($event)" (actionToHome)="toHome($event)" (actionToUp)="toUp($event)" (actionToBuy)="toBuy($event)"></app-products>
  </ion-content>

  <ion-footer>
      <app-menu [listName]="this.listName" (actionChanged)="actionChanged($event)" (addElementEvent)="addElement($event)" (copyList2Clipboard)="copyList2Clipboard()"></app-menu>
  </ion-footer>
</div>